*{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    box-sizing: border-box;
    font-size: 16px;
}
body{
    margin: 0;
}
h1{
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0;
}
p{
    margin: 0;
}

#title{
    color: #ffff;
    height: 4rem;
    display: flex;
    padding-left: 9rem;
}
#section-title{
    height: 4rem;
    background-color: #02A28F;
    width: 100vw;
}
#texto-destaque{
    background-image: url(/img/destaque.jpg);
    background-size: cover;
    color: #ffff;
    border-radius: 10px;
    height: 25rem;
    width: 39rem;
}
#titulo-populares{
    background-color: #02A28F;
    padding-left: 1rem;
    color: #ffff;
    border-radius: 5px;
}
#post-populares{
    padding-left: 1.5rem;
}
.bold{
    font-weight: bold;
}
.section-top{
    flex: 1;
}
.part1{
    display: flex;
    
}
.container{
    padding: 3.2rem 7rem 0 7rem;
}