*{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    box-sizing: border-box;
    font-size: 16px;
}
body{
    margin: 0;
}
h1{
    font-weight: 700;
    font-size: 2.3rem;
    margin: 0;
}
h2{
    font-weight: 700;
    font-size: 1.5rem;
}
p{
    font-size: 1rem;
    margin: 0;
}
.bold{
    font-weight: 700;
}
#Title{
    background-color: #02A28F;
    color: white;
    margin-bottom: 8vh;
}
#Title h1{
    padding: 0.8rem 19vh;
}
#post-inicial{
    border: 1px solid black;
}
#posts-populares {
    border: 1px solid black;
}
.posts-container {
    display: flex;
    gap: 2rem; /* espaço entre os posts */
    flex-wrap: wrap; /* responsivo em telas pequenas */
}
#post-inicial{
    flex: 1 1 100px; /* cresce, encolhe, largura mínima */
}
.container{
    padding: 0 19vh;
}